# Visual Studio
bin/
obj/
*.user
*.suo
*.vs/
.vs/
*.sln.docstates

# Blazor
wwwroot/css/open-iconic/

# NuGet
packages/
*.nupkg
*.nuget.props
*.nuget.targets

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/

# Visual Studio cache
*.cache
*.VC.db
*.VC.VC.opendb